#Data Types and Structures

1. What are data structures , and why are they important ?
- Data Structure is a way of organising and storing data so that they can be accessed and modified efficiantly.
- Data structures are important because -
 * Data Management - they help organize large amount of data in a structured way.
 * Efficiency - Data structures allows efficient storage and retrival of data , which is important in applications where performance is critical.
 * Flexible - Data structures provide a flexible way to organise and store data allowing for easy modification and maipulation.
 * Reusability - Data structures can be used in multiple programs and applications, reducing the need for redundant code.
 * Problem Solving - Many algorithms rely on specific data structure to solve problems effectively.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable data types - A mutable data type is one whose values can be changed after creation.
     * Memory location - Retains the same memory location even after the content is modified.
     * Performance - It is memory-efficient, as no new objects are created for frequent changes.
     * Thread-Safety - Not inherently thread-safe. concurrent modification can lead to unpredictable results.
     * Use-cases - When you need to modify , add or remove existing data frequently.
     * Examples of mutable data types - List , Dictionaries and sets.


- Immutable data types - Data types whose values can't be changed or altered.
     * Memory location - Any modification results in a new object and new memory location.
     * Performance - It might be faster in some scenarios as there's no need to track changes.
     * Thread-Safety - They are inherently thread-safe due to their unchangeable nature.
     * Use-cases - When you want to ensure data remains consistant and unlaltered.
     * Examples of immutable data types - Tuples , Integers and strings.

3. What are the main differences between list and tuples in python ?
- The main difference between list and tuples is lists are mutable and can be modified after creation , while tuples are immutable , meaning their contents can not be changed after creation.
- tuples are more memory-efficient compared to list.
- Syntax - List can be defined using square brakets[ ], while tuples can be defined using parantheses ( ).

4. Describe how dictionaries store data.
- Dictionaries store data in key-value pair. Each key must be unique and immutable. they use hashing system to make lookups super fast , so instead of searching through everything it goes straight to where the value is stored.

5. Why might you use a set instead of a list in python ?
- Set will be used instead of list when you need to store only unique items and quickly check if something is in the list in the collection.set automatically remove duplicates and are faster for lookups.

6. What is string in python , and how is it different from list ?
- Strings in python are sequence of characters enclosed in quotes (" or''). Example - A = "Parvez"".
- Lists are ordered collection of items enclosed in square brackets [ ].
- Strings are immutable , meaning they can not be changed once created , while lists are mutable and can be modified as needed.
- Strings can be indexed and sliced to access individual characters or substrings, while lists can be accessed using indicies to retrieve or modify elements.
- Strings have a fixed length , while lists can be dynamically grow or shrink in size by adding or removing elements.

7. How do tuples ensure data integrity in python ?
- Tuples ensure data integrity as they are immutable , meaning they can not be changed or modified after creation . This immutability ensures data remains cosistant and unaltered.

8. What is a hash table , and how does it related to python ?
- A hash table in python is a data structure where data is stored in an associative manner . In hash tables , data is stored in an array format , with every data value having an exclusive or unique index value. this type of storage offers quick access to data if the index of the required is available.
- It is related to Python as Dictionaries and sets are built using hash table.

9. Can lists contain different data types in python ?
- Yes , lists can contain different data types as list allows to store heterogeneous data.

10. Explain Why strings are immutable in python.
- String in python are immutable which means they can not be changed after they are created.
- String are immutable because >>
  * The immutability of python strings is very useful as it helps in hashing , performance optimization , safety , ease of use etc.

11. What advantages do dictionaries offer over list for certain tasks ?
- Advantages of Dictionaries over list are -
  * Fast lookup - Dictionaries provide constant time complexity 0(1) for lookups , making them highly efficient for retriving data.
  * Flexibility - They can store any data types as values , including lists , other dictionaries , or custom objects.
  * Clear Structure - The key-value pair structure makes it easy to understand and work with complex data mappings.
  * Dynamic - Dictionaries can grow dynamically , allowing the addition and removal of key value pairs at runtime.

12. Describe a scenario where using  a tuple would be prefered over a list.
- Tuple are immutable , meaning  their contents can not be changed after creation. so tuples will be prefered over list when you want to ensure data remains consistant and unlaltered.
- Scenario - Imagine you are managing a system where each employee has a unique ID and name that are used together as an immutable identifier. This identifier should not be changed once assigned.So tuples would be prefered here.

13. How does sets handle duplicte values in python ?
- Sets automatically remove duplicate values , so each element is unique. if one try to add the same item multiple times , the set will keep one copy only , which makes them useful for tasks that required distinct values , like removing duplicates from a list or checking for unique data.

14. How does the "in" keyword work differently for lists and dictionaries ?
- In lists "in" keyword checks if a specific value is present in the list , and in dictionaries "in" keyword checks if a specific key exists, not the value.

15. Can you modify the elements of a tuple ? Explain why or why not.
- No , you can not modify elements of tuples because tuples are immutable i.e can not be modified once created.

16. What is nested dictionary , and give an example of its use case ?
- A nested dictionary is a dictionary inside a dictionary . it's a collection of dictionaries into one single dictionary.
- use case - storing student grades for different subjects. This allows you to organize student information by their names or IDs, and for each student, store grades for multiple subjects in a nested dictionary.

17. Describe the time complexity of accessing elements in dictionaries.
- The time complexity of retrieving a value by its key in a dictionary is 0(1). this is because dictionaries use a hash table internally which allows constant time lookup.

18. In what situations are lists preferred over dictionaries ?
- Lists are preferred over dictionaries when data order is important or when requirement is to record duplicate values. or when storing collection of items without the need of unique keys.

19. Why are dictionaries considered unordered , and how does that affect data retrieval ?
- A dictionary is termed as unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.
- It can affect data retrieval as looping over a dictionary with for key could yeild keys in arbitary order , affecting operation that depends on order consistancy.
- But Starting from Python 3.7 , dictionaries do reatain insertion order as an implementation detail, mwaning elements apper in the order they added.

20. Explain the difference between a list and a dictionary in terms of data retrieval .
- Data retrieval in list
  * In lists data is accessed by index , retrieving an element by index is 0(1) (Constant time).
  
  * Syntax - list = [ 10 , 15 , 20 , 25 , 30]
        print(list[3])  >> output >> 25

- Data retrival in dictionary
  * Dictionaries store data as key-value pair, and  elements are accessed using keys. Retrieving a value by key is on average 0 (1) due to hash-based implementation.

  * Syntax - new_dict={"name": Parvez , "age":24}
             print(new_dict["name"]) >> output >> Parvez

# Practicle Questions

In [ ]:
#1 Write a code to create a string with your name and print it.
str1 = "Saiyed Parvez Hasan"
print(str1)

Saiyed Parvez Hasan

In [ ]:
#2 Write a code to find the length of the string "Hello World".
str2 = "Hello World"
print(len(str2))

11

In [ ]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".
str3 = "Python Programming"
sliced = str3[:3]
print(sliced)

Pyt

In [ ]:
#4 Write a code to convert the string "hello" to uppercase.
str4 = "hello"
print(str4.upper())

HELLO

In [ ]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
str5 = "I like apple"
print(str5.replace("apple","orange"))

I like orange

In [ ]:
#6 Write a code to create a list with the number 1 to 5 and print it .
list1 = [1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
#7 Write a code to append the number 10 to the list [1,2,3,4].
list2 = [1,2,3,4]
list2.append(10)
print(list2)

[1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1,2,3,4,5].
list3 = [1,2,3,4,5]
list3.remove(3)
print(list3)

[1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a','b','c','d']
list4 = ['a','b','c','d']
print(list4[1])

b

In [ ]:
#10 Write a code to reverse the list [10,20,30,40,50]
list5 = [10,20,30,40,50]
list5.reverse()
print(list5)

[50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 10,20,30 and print it.
tuple1 = (10,20,30)
print(tuple1)

(10, 20, 30)

In [ ]:
#12 Write a code to access the first element of the tuple ('apple','banana','cherry').
tuple2 = ('apple','banana','cherry')
print(tuple2[0])

apple

In [ ]:
#13 Write a code to count how many times the number 2 appereas in the tuple (1,2,3,2,4,2).
tuple3 = (1,2,3,2,4,2)
print(tuple3.count(2))

3

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
tuple4 = ('dog','cat','rabbit')
print(tuple4.index('cat'))

1

In [ ]:
#15 Write a code to check if the element "banana" is in the tuple ('apple','orange','banana').
tuple5 = ('apple','orange','banana')
if 'banana' in tuple5:
  print("Yes , banana is in the tuple.")
else:
  print("banana is not in the tuple.")

Yes , banana is in the tuple.

In [ ]:
#16 Write a code to create a set with the elements 1,2,3,4,5 and print it.
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
#17 Write a code to add the element 6 to the set {1,2,3,4}.
set2 = {1,2,3,4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}

In [ ]:
#18 Write a code to create a tuple with the elements 10,20,30 and print it.
tuple6 = (10,20,30)
print(tuple6)

(10, 20, 30)

In [ ]:
#19 Write a code to access the first element of the tuple ('apple','banana','cherry').
tuple7 = ('apple','banana','cherry')
print(tuple7[0])

apple

In [ ]:
#20  Write a code to count how many times the number 2 appereas in the tuple (1,2,3,2,4,2).
tuple8 = (1,2,3,2,4,2)
print(tuple8.count(2))

3

In [ ]:
#21 Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').
tuple4 = ('dog','cat','rabbit')
print(tuple4.index('cat'))

1

In [ ]:
#22 Write a code to check if the element "banana" is in the tuple ('apple','orange','banana').
tuple5 = ('apple','orange','banana')
if 'banana' in tuple5:
  print("Yes , banana is in the tuple.")
else:
  print("banana is not in the tuple.")

Yes , banana is in the tuple.

In [ ]:
#23 Write a code to create a set with the elements 1,2,3,4,5 and print it.
set1 = {1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
#24 Write a code to add the element 6 to the set {1,2,3,4}.
set2 = {1,2,3,4}
set2.add(6)
print(set2)

{1, 2, 3, 4, 6}